@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background: linear-gradient(110deg, #0f766e, #0891b2);
    
}

.calorie-container {
    width: 400px;
    height: 480px;
    background: white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 0px #000;
}

.calorie-container h2 {
    font-size: 26px;
    padding-bottom: 10px;
    text-align: center;
}

.calorie-container p {
    font-size: 15px;
    font-weight: 600;
    word-spacing: 0.5px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form label {
    padding-left: 20px;
    font-weight: 600;
    font-size: 15px;
}

input, select {
    /* margin-left: 32px; */
    margin: auto;
    width: 20rem;
    height: 1.6rem;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 1px 0px #000;
    background: #ffffff;
    padding-left: 6px;
}

input[type=number]:hover::-webkit-outer-spin-button {
    width: 14px;
    height: 30px;
}

select {
    cursor: pointer;
}

form button {
    background: linear-gradient(110deg, #0f766e, #0891b2);
    color: #ffffff;
    width: 20rem;
    margin: auto;
    height: 1.65rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #0f766e;
    border: none;
}

